body{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    

}

.questionbank{
    color: #F98FA8;
    background-color: #F0F0F0;
    text-align: center;
}

.navbar{
    background-color:#F98FA8;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    height: 40px;
 /*text in tthe nav middle???*/
    
}

a{
    color: white;
    /**wb when dem a click?
    */
}
@font-face {
        font-family: 'bertilda';
        src: url(bertilda.tff);
    }

h1{
    font-family: 'bertilda', sans-serif;
    font-size: 90px;
    font-weight:500;
    color: #EBD070;


    /*@font-face supremacyyyyy ....use font weight as font bleaching cream hehe
    OMGEEE YOU AN USE WEIGHT AS STANDARD ODVKDSNF
    */
}

.rect
{
    background-color: #FDCFDA;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
}


.heading_fi_dem{
    text-align: center;
    /*forgotten how to centre a div wihtout text but uh*/
}

.invert{
    background-color: white;
    color: #F98FA8;
}

.bookbtn{
    background-color: #F98FA8;
    width: 168px;
    height: 60px;
    color: white;
    text-align: center;
    margin: auto;
}

.imgc{
    width: 600px;
    height: 100%;
    margin: auto;
    /*why define one dimension for margin cdentering?>??*/
}

.imagecheck{
    width:600px;
    

}

h2{
    
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #B4B4B9;
    position: relative;
    top: -80px;
    /*
    look at setting the actual font stlying and dem man
    */

}

/**you idiottt you cant use rgb with hex???


/*there are wayyy too many pink types girl forgettit*/
